# API Port
PORT=3001
DOMAIN=localhost

# RUNNING MODE
#NODE_ENV=test
NODE_ENV=dev

# MONGODB URL
DB_URI=mongodb://localhost:27017/todo-db
DB_URI_TEST=mongodb://localhost:27017/todo-db-test

# SECRETS
JWT_SECRET=
